.minha-lista{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4vw;
    font-weight: 700;
    color: #e5e5e5;

    margin-left: 10px;
    padding: 5px;
}